.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: -0.1em;
}

a { text-decoration:none;color:#2196F3 }
a:hover {text-decoration:underline }
@media print {a[href^="http"]:after{content:" (" attr(href) ")"}}

.w3-topnav a {color:#fff}
.w3-topnav a.ti-active:not(:hover) {color:rgba(255,255,255,0.65)}
@media screen and (max-width:601px) {.w3-topnav .w3-right {float:none !important}}
@media print {.w3-topnav {display:none}}

.ti-list-unstyled {list-style-type:none;padding:0;margin:0}
