.icon{display:inline-block;width:1em;height:1em;stroke-width:0;stroke:currentColor;fill:currentColor;vertical-align:-.1em}
.ti-list-unstyled{list-style-type:none;padding:0;margin:0}
a{text-decoration:none;color:#2a7ae2}
a:hover{text-decoration:underline}
.w3-bar a{color:#fff}
.w3-bar a:hover{text-decoration:none;border-bottom:3px solid #fff;transition:border-bottom .25s}
@media print {a[href^="http"]:after{content:" (" attr(href) ")"}}
@media print {header.w3-bar{display:none}}
@media print {footer{display:none}}
